/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*Glodbal css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: #0c111b;
    position: relative;
    font-family: 'Roboto', sans-serif;

}


.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 4%;
    position: fixed;
    width: 100%;
    background: #0c111b;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: 40px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #bbb;
}

.right-container {
    margin-left: auto;
}

.login-link {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.brand-logo {
    width: 115px;
    height: 45px;
}



.nav-links li:hover {
    color: #bbb;
}



.kids-icon {
    width: 40px;
    height: 20px;
    transition: 0.3s ease;
}

.kids-icon:hover {
    transform: translateY(-5px);
}

.right-container {
    display: block;
    margin-left: auto;
}

.search-box {
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.search-box:focus {
    width: 400px;
    border-color: #1f80ce;
}

.sub-btn {
    background: #1f80ce;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
    transition: 0.5s;
    cursor: pointer;
}

.sub-btn:hover {
    transform: translateY(-5px);
}

.login-link {
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-top: 80px;
    text-decoration: none;
    transition: 0.3s ease;
}

.login-link:hover {
    color: #bbb;
}

/* MOBILE */
@media(max-width: 768px) {
    .search-box {
        display: none;
    }


    .search-box.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 265px;
        left: 0;
        background: #0c111b;
        padding: 10px 20px;
    }

    .search-box.active:focus{
     width: 100%;
       position: absolute;
       left: 0;
       border-color: #1f80ce;
    }
}

@media (max-width: 768px) {

    .nav-links {
        display: none;
    }


    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -35px;
        background: #0c111b;
        width: 100%;
        padding: 20px;
    }

    .nav-links li {
        margin-bottom: 15px;
    }

    .hamburger {
        display: block;
        margin-left: auto;
    }
}

/*---carousel section start---*/


.carousel-container {
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
}

.carousel {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
}

.slider {
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    min-width: 100%;
    flex-shrink: 0;
    height: 100%;
    left: 0;
    transition: margin-left 0.6s ease;
    overflow: hidden;
}

.slider img {
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slide-content {
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #030b17 80%, #030b170a);
    color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.movie-title {
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
    margin-bottom: -25px;
    width: 70%;
}

.movie-desc {
    width: 80%;
    line-height: 30px;
    padding: 50px;
    opacity: 0.8;
}

@media(max-width:768px) {
    .carousel {
        height: 75%;
        margin-bottom: -35px;
    }

    .slide-content {
        width: 100%;
        background: linear-gradient(to right, #030b17AA, #030b170a 80%);
    }

    .movie-title {
        font-size: 1.75rem;
        margin-top: 60px;
        margin-bottom: -35px;
    }

    .movie-desc {
        font-size: 1rem;
        line-height: 1.5;

    }
    
    .video-card {
        height: 150%;
    }
}
/*---carousel section end----*/

/*---video section start---*/

.video-card-container {
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.video-card {
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
    transition: 0.3s ease;
    cursor: pointer;
}

.video-card-image,
.card-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video {
    position: absolute;
}

.video-card:hover .video-card-image {
    display: none;
}

/*--- video section end---*/


/*--title part for cards--*/

.title {
    color: #fff;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}


.slider-section {
    margin: 30px 0;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
    padding: 0 60px;
}

.slider-track {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slider-track::-webkit-scrollbar {
    display: none;
}

/* MOVIE CARD */
.movie-card {
    flex: 0 0 auto;
    width: 220px;
    height: 330px;
    border-radius: 8px;
    overflow: hidden;
    background: #030b17;
    transition: transform 0.3s ease;
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-card:hover {
    transform: scale(1.08);
    z-index: 5;
}

/* BUTTONS */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 30px;
    width: 45px;
    height: 80px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
}

.slider-btn:hover {
    opacity: 1;
}

.slider-btn.prev {
    left: 0;
}

.slider-btn.next {
    right: 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .movie-card {
        width: 160px;
        height: 240px;
    }

    .slider-wrapper {
        padding: 0 20px;
    }

    .slider-btn {
        display: none;
        /* swipe instead */
    }

}



















